/* ||RESET */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ||VARIABLES */
:root{
    /* COLORS */
    --BG-COLOR-2:#363537;
    --BG-COLOR:#080708;
    --PRIM-COLOR:#FDCA40;
    --SEC-COLOR:#DF2935;
    --TER-COLOR:#fff;
    --VEG-COLOR:#0C8346;
    --NVEG-COLOR:#C1292E;
    --SPICY-COLOR:#FF6B6B;
    --BVG-COLOR:#58FCEC;

    /* IMG SLIDER WIDTH */
    --IMG-WIDTH:clamp(320px,100%,1400px);
}

html{
    scroll-behavior: smooth;
}

#TLTS{
    white-space: nowrap;
}

body{
    background-color: var(--BG-COLOR);
    color:var(--PRIM-COLOR);
    background-image: url('img/wp.png');
    background-size: cover;
    display:grid;
    grid-template-rows: 100vh 1fr;
    position:relative;
}

main{
    display:grid;
    background-color: var(--BG-COLOR-2);
}

header{
    display:flex;
    flex-flow:row nowrap;
    width:100%;
    justify-content: space-between;
    font-size: 0.75rem;
    background-color: transparent;
    backdrop-filter: blur(100px);
    height:50px;
    align-items: center;
    z-index: 100;
    position: sticky;
    top:0;
}

header nav{
    width:45%;
}

header ul{
    list-style-type: none;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items:center;
    height:100%;
}

nav a:any-link{
    color:var(--TER-COLOR);
    text-decoration: none;
    font-weight:100;
    height:100%;
}

.welcome{
    width:var(--IMG-WIDTH);
    position:absolute;
    top:0;
    left:0;
}

.welcome .bg{
    background-image: url('img/wp.png');
    background-position: center center;
    background-size: cover;
    animation-name:swap-slide;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    width:var(--IMG-WIDTH);
    height:100vh;
}



@keyframes swap-slide{
    0%{
        background-image: url('img/wp.png');
    }
    25%{
        background-image: url('img/wp2.png');
    }
    50%{
        background-image:url('img/wp3.png');
    }
    75%{
        background-image: url('img/French-Fries.jpg');
    }
    100%{
        background-image: url('img/French-Fries.jpg');
    }
}

.fg{
    z-index:5;
    background-color: rgb(8, 7, 8,0.5);
    backdrop-filter: blur(0.5px);
    height:100vh;
    width:var(--IMG-WIDTH);
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items: center;
    text-shadow: 10px 10px 10px black;
}

.head h1{
    color:var(--TER-COLOR);
    font-size: 2rem;
    text-align: center;
}

.head p{
    text-align: center;
    font-size: 1.5rem;
}

.fg p#button{
    border:2px solid var(--TER-COLOR);
    font-size: 1.75rem;
    padding: 0.75rem;
    margin-top: 2rem;
}

.fg p#button a:any-link{
    color:var(--TER-COLOR);
    text-decoration: none;
}

.menu{
    grid-row-start:1;
    background-color: var(--BG-COLOR-2);
    font-size: 1rem;
    text-align : center;
    scroll-margin-top:3rem;
    background-image: url('img/5-dots.webp');
    padding-bottom:2rem;
}
:is(.menu,.features,.ratings) h2{
    font-family: "Cormorant Garamond", serif;
    text-decoration-thickness:1px;
    font-size: 2.5rem;
    text-align: center;
    color:var(--TER-COLOR);
    margin:1rem;
    margin-top: 0;
    padding-top: 1rem;
    font-weight: lighter;
    border-bottom: 2px solid var(--TER-COLOR);
}

.menu-section{
    margin:10px;
    background-color: var(--BG-COLOR);
    padding:0.5rem;
}

.menu-section-headings{
    background-color: var(--PRIM-COLOR);
    color:var(--TER-COLOR);
    font-size: 2rem;
    font-weight: lighter;
}

.menu-section-sub-headings{
    font-size:1.5rem;
    text-align:left;
    padding:0.75rem;
    border-bottom:2px solid var(--TER-COLOR);
}

.menu-section-content{
    line-height:2rem;
    color:var(--TER-COLOR);
    font-size: 1.25rem;
}

.menu-section-content div{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}

.menu-section-content .item{
    display:flex;
    flex-flow:column wrap;
    text-align: left;
    padding: 0.75rem;
}

.menu-section-content .item-price{
    padding:0.75rem;
    font-size: 0.85rem;
}

.menu-section-content p.item-description{
    font-family:"Cormorant Garamond", serif;
    text-align: left;
    font-weight: lighter;
    line-height:1.25rem;
    font-size: 1rem;
}

.veg{
   color:var(--VEG-COLOR);
}

.nveg{
    color:var(--NVEG-COLOR);
}

.spicy{
    color:var(--SPICY-COLOR);
}

.bvg{
    color:var(--BVG-COLOR);
}

.sides .menu-section-content{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.features{
    background-color: hsl(260, 4%, 16%);
    background-image: url('img/double-bubble-dark.webp');
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-between;
    align-items: center;
    grid-row-start:2;
}

.features .card{
    background-color: var(--BG-COLOR);
    text-align: center;
    padding:1rem;
    width:min(100%,275px);
    margin-bottom: 2rem;
    border-radius: 15px;
}

.features img{
    width:125px;
    height:100px;
}

:is(.features,.ratings) figcaption{
    color:var(--TER-COLOR);
    font-size: 1.5rem;
    margin:0.5rem;
    font-family: "Cormorant Garamond", serif;
}

:is(.features,.ratings) p{
    color:var(--TER-COLOR);
    opacity: 0.6;
    margin-top: 0.5rem;
}

.ratings{
    display: flex;
    flex-flow:column nowrap;
    width:100vw;
    background-image: url('img/5-dots.webp');
}

.ratings .card-collection{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.ratings img{
    width:100px;
}
.ratings .card{
    background-color: var(--BG-COLOR);
    color:var(--PRIM-COLOR);
    width:300px;
    margin:10px;
    border-radius:30px;
    text-align: center;
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-around;
    align-items:center;
    margin-bottom: 40px;
    font-size:1.25rem;
    padding:1rem;
    animation-name: slide-reviews;
    animation-duration:60s;
    animation-delay:5s;
    animation-iteration-count: infinite;
}

.ratings figcaption{
    margin:0;
    margin-bottom: 20px;
    width:270px;
    padding:0.5rem;
}

@keyframes slide-reviews {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    15%{
        transform: translateX(-100vw);
    }
    30%{
        transform: translateX(-100vw);
    }
    35%{
        transform: translateX(-200vw);
    }
    50%{
        transform: translateX(-200vw);
    }
    55%{
        transform: translateX(-300vw);
    }
    75%{
        transform: translateX(-300vw);
    }
    80%{
        transform: translateX(-400vw);
    }
    100%{
        transform: translateX(-400vw);
    }
}