/* ||RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ||VARIABLES */
:root{
    /* COLORS */
    --BG-COLOR:#080708;
    --PRIM-COLOR:#FDCA40;
    --SEC-COLOR:#DF2935;
    --TER-COLOR:#fff;

    /* IMG SLIDER WIDTH */
    --IMG-WIDTH:clamp(320px,100%,1400px);
}
#TLTS{
    white-space: nowrap;
}

body{
    background-color: var(--BG-COLOR);
    color:var(--PRIM-COLOR);
    background-image: url('img/wp.png');
    background-size: cover;
    display:grid;
    grid-template-rows: 100vh 300px 300px 600px;
    position:relative;
}

header{
    display:flex;
    flex-flow:row nowrap;
    width:100%;
    justify-content: space-between;
    font-size: 0.75rem;
    background-color:var(--BG-COLOR);
    backdrop-filter: blur(100px);
    height:50px;
    align-items: center;
    z-index: 100;
}

header nav{
    width:45%;
}

header ul{
    list-style-type: none;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items:center;
    height:100%;
}

nav a:any-link{
    color:var(--TER-COLOR);
    text-decoration: none;
    font-weight:100;
    height:100%;
}

main{
    
}

.welcome{
    width:var(--IMG-WIDTH);
    position:absolute;
    top:0;
    left:0;
}

.welcome .bg{
    background-image: url('img/wp.png');
    background-position: center center;
    background-size: cover;
    animation-name:swap-slide;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    width:var(--IMG-WIDTH);
    height:100vh;
}



@keyframes swap-slide{
    0%{
        background-image: url('img/wp.png');
    }
    25%{
        background-image: url('img/wp2.png');
    }
    50%{
        background-image:url('img/wp3.png');
    }
    75%{
        background-image: url('img/French-Fries.jpg');
    }
    100%{
        background-image: url('img/French-Fries.jpg');
    }
}

.fg{
    z-index:5;
    background-color: rgb(8, 7, 8,0.5);
    backdrop-filter: blur(0.5px);
    height:100vh;
    width:var(--IMG-WIDTH);
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items: center;
    text-shadow: 10px 10px 10px black;
}

.head h1{
    color:var(--TER-COLOR);
    font-size: 2.5rem;
    text-align: center;
}

.head p{
    text-align: center;
    font-size: 1.5rem;
}

.fg p#button{
    border:2px solid var(--TER-COLOR);
    font-size: 2rem;
    padding: 1rem;
    margin-top: 2rem;
}

.fg p#button a:any-link{
    color:var(--TER-COLOR);
    text-decoration: none;
}

.menu-tables{
    grid-row-start:2;
}

#veg{
    grid-row-start:3;
}

#Non-veg{
    grid-row-start:4;
}
